<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="heading">You can!</h1>
      </div>
      <div class="main">
        <div class="left">
          <h2 class="heading form">Add habbit</h2>
          <form class="form-for-habbit" id="form-for-habbit" method="post" action="/">
            <div class="input-area">
              <input type="text" class="form-control" id="title" name="title" placeholder="Input title">
              <select class="btn type" name="type" id="type">
                <option value="Health">Health</option>
                <option value="Sport">Sport</option>
                <option value="Skills">Skills</option>
                <option value="Hobby">Hobby</option>
                <option value="Mind">Mind</option>
              </select>
            </div>
            <button type="button" class="btn random" id="btn-random">Random</button>
            <button type="submit" class="btn create">Create</button>
          </form>
        </div>

        <div class="right">
          <div class="heading card">
            <h2>Your habbits</h2>
            <div>
              <label for="select">Sort: </label>
              <select class="btn sort" name="sort" id="sort">
                <option value="date">Date</option>
                <option value="type">Type</option>
                <option value="progress">Progress</option>
              </select>
            </div>
          </div>

          <div class="habbits-cards" id="habbits-cards">
            <% if (habbits.length) { %>
              <% habbits.forEach(({ title, type, progress, id, createdAt}) => { %>
                <div class="habbit-card" id="habbit-card" data-id="<%= id %>">
                  <div class="top-card">
                      <div class="habbit-type"><%= type %></div>
                      <div class="description"><%= title %></div>
                      <button class="btn edit" id="btn-edit">Edit</button>
                      <div class="post-day"><strong>Create date: </strong><%= createdAt.toLocaleString() %></div>
                  </div>
                  <div class="bottom-card">
                    <button class="btn done <%= progress>= 21 ? 'hide' : '' %>" id="btn-done">Done</button>
                    <div class="progress-bar">
                      <div class="progress-value" data-progress="<%= progress %>"></div>
                    </div>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <p class="empty">You have not tracked habbit, add</p>
          <% } %>
          </div>
        </div>
      </div>

      <div class="habbit-modal edit " id="habbit-modal-edit">
        <h2>Edit habbit:</h2>
        <form class="form" method="post" id="form-for-edit">
          <div class="input-area">
            <input type="text" class="form-control" id="title" name="title">
            <select class="btn type" name="type" id="type">
              <option value="Health">Health</option>
              <option value="Sport">Sport</option>
              <option value="Skills">Skills</option>
              <option value="Hobby">Hobby</option>
              <option value="Mind">Mind</option>
            </select>
          </div>
          <button type="submit" class="btn edit" id="btn-edit-modal">Save</button>
          <button type="button" class="btn edit" id="btn-edit-del">Delete</button>
        </form>
      </div>

      <div class="modal-backdrop" id="modal-backdrop"></div>

    </div>
    <script src="scripts/app.js"></script>  
  </body>
</html>
